.playing-field {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* Tablet size and above 4 * 3 */
@media screen and (min-width: 768px) {
  .playing-field {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 250px));
    grid-template-rows: repeat(3, minmax(100px, 250px));
    gap: 2rem;
    padding: 1rem;
  }
}
