.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* To allow container to grow with PlayingField */
  background-image: url('./assets/rick-n-morty-background-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
